<div>
  <div>
    <div>
      <h4>ショッピングカート</h4>
      <div>
        <button class="btn btn-danger ">
          <%= link_to "カートを空にする",public_cart_product_destroy_path, method: :delete, class: "text-white" %>
        </button>
      </div>
      <table>
        <thead>
          <tr>
            <th>商品名</th>
            <th>単価（税込）</th>
            <th>数量</th>
            <th>小計</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @cart_products.each do |cart|  %>
          <tr>
            <td><%= cart.product.name %></td>
            <td><%= cart.product.tax_out_price %></td>
            <td></td>
            <td></td>
            <td>
              <button class="btn btn-danger">
                <%= link_to "削除する", public_cart_product_path(cart),method: :delete %>
              </button>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
      <div>
        <button class="btn btn-primary">
          <%= link_to  "買い物を続ける", public_products_path ,class: "text-white" %></button>
      </div>
      <div>
        <button class="btn btn-success">情報入力に進む</button>
      </div>
    </div>
  </div>
</div>