<div class="container　mt-5" style="margin-bottom:500px;">
  <div class="row mt-5">
    <div class="col-4 mt-5">
      <!--ジャンル一覧を部分テンプレートで表示-->
      <%= render "public/products/genre", gernres: @genres %>
    </div>
    <div class="col-8 mt-5">
      <div id="top-card"class="card col-11">
        <img id="top-card-img" class="card-img " src="assets/media-138-600x600-1.jpg">
        <div id="top-card-text" class="card-img-overlay text-dark text-center">
          <p>ようこそ、<strong>ながのCAKE</strong>へ！<br>
            このサイトは、ケーキ販売のECサイトになります。<br>
            会員でない方も商品の閲覧はできますが、<br>
            購入には会員登録が必要になります。
          </p>
        </div>
      </div>
      <div class="mt-5">
        <h3>新着商品</h3>
        <div id="pub_products">
          <!--eachのひとかたまり-->
          <% @products.each do |product| %>
          <div id="pub_product">
            <!--商品画像-->
            <div class="card-img-top">
              <%= attachment_image_tag product,:image ,:fill,150,100,fallback: "no_image.png",size: "150x100" %>
            </div>
            <!--商品ネーム-->
            <div>
              <%= link_to public_product_path(product),class:"text-dark" do%>
                <%= product.name %>
              <% end %>
            </div>
            <!--商品金額-->
            <div>
              <% @product_price = product.tax_out_price * 1.1 %>
              ￥<%= @product_price.floor.to_s(:delimited) %>（税込）
            </div>
          </div>
        <% end %>
        </div>
      </div>
         <button class=" btn btn-outline-info mt-5">
          <%= link_to "全ての商品を見る", public_products_path ,class: "text-dark"%>
        </button>
    </div>
  </div>
</div>