<div class="container">
  <div class="row">
    <div class="col-10 offset-2">
      <h2>新規会員登録</h2>
      <%= form_with model: @member, url: member_registration_path, local: true do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.label :名前 %><br />
        <%= f.text_field :, autofocus: true,class: "form-control form-inline "%>
      </div>

      <div class="field">
        <%= f.label :フリガナ %><br />
        <%= f.text_field : ,class: "form-control form-inline "%>
      </div>

      <div class="field">
        <%= f.label :メールアドレス %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" ,class: "form-control form-inline "%>
      </div>
    
      <div class="field">
        <%= f.label :郵便番号（ハイフンなし） %><br />
        <%= f.text_field : ,class: "form-control form-inline "%>
      </div>
    
      <div class="field">
        <%= f.label :住所 %><br />
        <%= f.text_field : ,class: "form-control form-inline "%>
      </div>
    
      <div class="field">
        <%= f.label :電話番号（ハイフンなし） %><br />
        <%= f.text_field : ,class: "form-control form-inline "%>
      </div>
    
      <div class="field">
        <%= f.label :パスワード（６文字以上） %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password" %>
      </div>
    
      <div class="field">
        <%= f.label :パスワード（確認用） %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      </div>
    
      <div class="actions　btn btn-info text-white">新規登録
        <% f.submit %>
      </div>
      <%end %>
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>


