<div class="container">
  <div class="row">
    <div class="col-10 offset-2">
      <h2>会員情報編集</h2>
      <%= form_with model: @member, url: public_member_path(@member.id), local: true do |f| %>
      <div class="field">
      <div class="field">
        <%= f.label :名前 %><br />
        <p>(姓)</p><%= f.text_field :first_name , autofocus: true,class: "form-control form-inline "%>
        <p>(名)</p><%= f.text_field :last_name ,class: "form-control form-inline "%>
      </div>
      <div class="field">
        <%= f.label :フリガナ %><br />
        <p>(セイ)</p><%= f.text_field :first_name_kana ,class: "form-control form-inline "%>
        <p>(メイ)</p><%= f.text_field :last_name_kana ,class: "form-control form-inline "%>
      </div>
      <div class="field">
        <%= f.label :メールアドレス（編集不可） %><br />
        <%= f.email_field :email, autocomplete: "email" ,class: "form-control form-inline "%>
      </div>
      <div class="field">
        <%= f.label :郵便番号（ハイフンなし７文字） %><br />
        <%= f.text_field :postal_code ,class: "form-control form-inline "%>
      </div>
      <div class="field">
        <%= f.label :住所 %><br />
        <%= f.text_field :address ,class: "form-control form-inline "%>
      </div>
      <div class="field">
        <%= f.label :電話番号（ハイフンなし） %><br />
        <%= f.text_field :phone_number ,class: "form-control form-inline "%>
      </div>
      <div class="actions mt-3">
        <button class="btn btn-success text-white">編集内容を保存</button>
        <% f.submit %>
      </div>
      <%end %>
    </div>
  </div>
</div>


