<div class="container">
  <div class="row mt-5">
    <div class="col-10  ">
       <%= render "public/shared/error_messages",resource: @member%>
      <h2 class="mt-5 text-center">会員情報編集</h2>
      <%= form_with model: @member, url: public_member_path(@member.id), local: true do |f| %>
      <div class="form-group mt-5">
        <%= f.label :名前 ,class:"col-4 mr-2"%>
        <%= f.text_field :first_name , autofocus: true,class: "form-control-static col-3",placeholder:"姓"%>
        <%= f.text_field :last_name ,class: "form-control-static col-3  ",placeholder:"名"%>
      </div>
      <div class="form-group mt-3">
        <%= f.label :フリガナ,class:"col-4 mr-2" %>
        <%= f.text_field :first_name_kana ,class: "form-control-static col-3",placeholder:"セイ"%>
        <%= f.text_field :last_name_kana ,class: "form-control-static  col-3",placeholder:"メイ"%>
      </div>
      <div class="form-group mt-3">
        <%= f.label :メールアドレス（編集不可）,class:"col-4 mr-2" %>
        <%= f.email_field :email, autocomplete: "email" ,class: "form-control-static col-6"%>
      </div>
      <div class="form-group mt-3">
        <%= f.label :郵便番号（ハイフンなし７文字）,class:"col-4 mr-2" %>
        <%= f.text_field :postal_code ,class: "form-control-static col-6",style: "width:200px;"%>
      </div>
      <div class="form-group mt-3">
        <%= f.label :住所,class:"col-4 mr-2" %>
        <%= f.text_field :address ,class: "form-control-static col-6"%>
      </div>
      <div class="form-group mt-3">
        <%= f.label :電話番号（ハイフンなし）,class:"col-4 mr-2" %>
        <%= f.text_field :phone_number ,class: "form-control-static col-6",style: "width:200px;"%>
      </div>
      <div class="actions mt-5 text-center" style="margin-bottom: 200px;">
        <button class="btn btn-success text-white">編集内容を保存</button>
        <% f.submit %>
        <button class="btn btn-danger text-white ml-5"><%= link_to "退会する",public_members_path,method: :get ,class: "text-white"%></button>
      </div>
      <%end %>
    </div>
  </div>
</div>


