<div class="container　mt-5" style="margin-bottom:500px;">
  <div class="row mt-5">
    <div class="col-md-4 mt-5">
      <!--ジャンル一覧を部分テンプレートで表示-->
      <%= render "public/products/genre", gernres: @genres %>
    </div>
    <div class="col-md-8 offset-md-0 col-9 offset-2 mt-5">
      <h2   class="d-inline">商品一覧</h2><p class="d-inline">（<%= @search_genre.count  %>件）</p>
      <!--商品一覧-->
      <div id="pub_products">
        <!--eachのひとかたまり-->
        <% @search_genre.each do |genre_product| %>
        <div id="pub_product">
          <!--商品画像-->
          <div class="card-img-top">
            <%= attachment_image_tag genre_product,:image ,fallback: "no_image.png",class:"card-img"%>
          </div>
          <!--商品ネーム-->
          <div class="">
            <%= link_to public_product_path(genre_product),class: "text-dark" do %>
              <%= genre_product.name %>
            <% end %>
          </div>
          <!--商品金額-->
          <div>
            <% @product_price = genre_product.tax_out_price * 1.1 %>
            ￥<%= @product_price.floor.to_s(:delimited) %>（税込）
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-center mt-5">
    <%= paginate @search_genre %>
  </div>
</div>