<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-6 px-5 px-sm-0 mx-auto">
    <h4>商品編集</h4>
    <%= form_with model:@product,url:"/admin/products/#{@product.id}", local:true do |f| %>
      <div class="form-grop mt-3">
          <%= f.label :"商品画像" ,class: "col-4" %>
          <%= f.attachment_field :image, class:"form-control-static" %>
        </div>
        <div class="form-grop mt-3">
          <%= f.label :"商品名" ,class: "col-4" %>
          <%= f.text_field :name, placeholder:'商品名', class:"form-control-static col-7" %>
        </div>
        <div class="form-grop mt-3">
          <div class="d-flex align-items-center">
           <%= f.label :"商品説明" ,class: "col-4" %>
           <%= f.text_area :explanation, size:"40x5", placeholder:'ここは説明文を記述します', class:"form-control-static col-7" %>
          </div>
        </div>
        <div class="form-grop mt-3">
          <%= f.label :"ジャンル" ,class: "col-4" %>
          <%= f.collection_select :genre_id, Genre.all, :id, :genre_name, { prompt: '選択してください' }, class:"form-control-static col-7" %>
        </div>
        <div class="form-grop mt-3">
          <%= f.label :"税抜価格" ,class: "col-4" %>
          <%= f.text_field :tax_out_price, placeholder:'1000', class: "form-control-static col-7" %>円
        </div>
        <div class="form-grop mt-3">
          <%= f.label :"販売ステータス" ,class: "col-4" %>
          <%= f.radio_button :is_active, "販売中",checked: true %>
          <%= f.label :is_active, "販売中", {value: :true, style: "display: inline-block;"} %>
          <%= f.radio_button :is_active, :false %>
          <%= f.label :is_active, "販売中止中", {value: :false, style: "display: inline-block;"} %>
        </div>
      <div class="form-grop mt-3">
        <p class="text-center"><%= f.submit '変更を保存する', class: "button btn btn-success" %></p>
      </div>


     <% end %>

    </div>
  </div>
</div>
