<div class="container mt-5 " style="margin-bottom:250px;">
  <h4>商品詳細</h4>
  <div class="row">
  　<div class='col-sm-5'>
　　　<%= attachment_image_tag @product, :image, size: "300x200" %>
    </div>

    <div class='col-sm-2'>
      <div class = "field">
        <p>商品名</p>
      </div><br>
      <div class = "field">
        <p>商品説明</p>
      </div><br>
      <div class = "field">
        <p>ジャンル</p>
      </div><br>
      <div class = "field">
        <p>税込価格<br>（税抜価格）</p>
      </div><br>
      <div class = "field">
        <p>販売ステータス</p>
      </div><br>
    </div>

    <div class = "col-sm-4">
      <div class = "field">
        <p><%=@product.name %></p>
      </div><br>
      <div class = "field">
        <p><%= @product.explanation %></p>
      </div><br>
      <div class = "field">
        <p><%= @product.genre.genre_name %></p>
      </div><br>
      <div class = "field">
        <p>
          <% @product_price = @product.tax_out_price * 1.1 %>
        　<%= @product_price.floor.to_s(:delimited) %>
        　(<%= @product.tax_out_price.floor.to_s(:delimited) %>)円
        </p>
      </div><br><br>
      <div class = "field">
        <p>
          <% if @product.is_active == true %>
            <i class="text-success">販売中</i>
          <% else  product.is_active == false %>
            <i class="fas fa-bullseye blue">販売中止中</i>
          <% end %>
        </p>
      </div><br>

      <div class="form-grop">
        <%= link_to "編集する",edit_admin_product_path(@product.id), class: "btn btn-success" %>
      </div>
    </div>


  </div>
</div>