<div class = "container">
  <h2 class= "head-line title_h2 text-dark p-1 m-5 rounded-lg border border-dark">会員情報入力</h2>
  <div class = "row">
    <div class = "col-sm-9">
      <%= form_with model: @order,url:comfirm_public_orders_path, local: true  do |f| %>
        <h5 class="col-xs-3 sub-head text-strong"><strong>支払い方法</strong></h5>
        <div class = "form-group col-sm-4">
          <%= f.radio_button :payment_method, :"クレジットカード", checked: true %> <span>クレジットカード</span>
        </div>
        <div class = "form-group col-sm-4 ">
          <%= f.radio_button :payment_method, :"銀行振込" %> <span>銀行振込</span>
        </div>
        <h5 class="col-xs-3 sub-head text-strong"><strong>お届け先</strong></h5>
        <div class = "form-group col-sm-4">
          <%= f.radio_button :addresses, "addresses", checked: true  %> <span>ご自身の住所</span><br>
          <%= "#{current_member.postal_code}  #{current_member.address}"  %> <br>
          <%= "#{current_member.first_name} #{current_member.last_name}" %>
        </div>
        <div class = "form-group col-sm-4">
          <%= f.radio_button :addresses, :"addresses" %> <span>登録済み住所から選択</span><br>
        </div>
        <div class = "new-address col-sm-4">
          <%= f.radio_button :addresses, :"addresses" %> <span>新しいお届け先</span><br>
        </div>
      <% end %>
    </div>
  </div>
</div>