<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-light text-dark">
    <div class = "container">
      <nav class = "nav navbar-nav navbar-left title">
      <% if admin_signed_in? %>
      <%# 管理者がログインした時　%>
        <%= link_to "Nagano CAKE", admin_orders_path, class: "btn btn-outline-dark btn-lg" %>
      <% else %>
    　 <%# 顧客顧客がログインした時　%>
    　   <%= link_to "Nagano CAKE",  public_root_path, class: "btn btn-outline-dark btn-lg" %>
      <% end %>
      </nav>
      <nav>
        <ul class = "nav navbar-nav navbar-right">
          <% if member_signed_in? %>
          <!--カスタマーがログインしている時 -->
          <li class="header-name">
            ようこそ、<%= (current_member.first_name) %>さん！
          </li>

          <li>
            <%= link_to "マイページ", public_member_path(current_member), class: "btn  btn-outline-dark mr-5" %>
          </li>
          <li>
            <%= link_to "商品一覧", public_products_path, class: "btn  btn-outline-dark mr-5" %>
          </li>
          <li>
            <%= link_to "カート", public_cart_products_path, class: "btn  btn-outline-dark mr-5" %>
          </li>
          <li>
            <%= link_to "ログアウト", destroy_member_session_path, method: :delete, class: "btn  btn-outline-dark mr-5" %>
          </li>
          <% elsif admin_signed_in? %>
          <!-- 管理者がログインしている時 -->
          <li>
            <%= link_to "商品一覧", admin_products_path, class: "btn btn-outline-dark mr-5" %>
          </li>
          <li>
            <%= link_to "会員一覧", admin_members_path, class: "btn btn-outline-dark mr-5"  %>
          </li>
          <li>
            <%= link_to "注文履歴一覧", admin_orders_path, class: "btn btn-outline-dark mr-5" %>
          </li>
          <li>
            <%= link_to "ジャンル一覧", admin_genres_path, class: "btn btn-outline-dark mr-5" %>
          </li>
          <li>
            <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: "btn btn-outline-dark mr-5" %>
          </li>
          <% else %>
          <!-- ログインしていない時 -->
          <li>
            <%= link_to "About",  public_homes_about_path, class: "btn btn-outline-dark mr-5" %>
          </li>
          <li>
            <%= link_to "商品一覧",  public_products_path, class: "btn btn-outline-dark mr-5" %>
          </li>
          <li>
            <%= link_to "新規登録", new_member_registration_path, class: "btn btn-outline-dark mr-5" %>
          </li>
          <li>
            <%= link_to "ログイン", new_member_session_path, class: "btn btn-outline-dark mr-5" %>
          </li>
          <% end %>
        </ul>
        <div>
          <div class="d-inline">
            <%= form_with url: public_search_path, method: :get,  local: true do |f|%>
            <%= f.text_field :keyword, value: @keyword ,placeholder: "Search",class: "form-control " ,id: "form-control"%>
            <% end %>
          </div>
        </div>
      </nav>
    </div>
  </nav>
</header>